@import url("https://fonts.googleapis.com/css?family=Archivo:400,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Archivo", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffdd00;
  width: 384px;
  height: 100%;
  padding: 1%;
  background: #515151;
  -webkit-box-shadow: 8px 0px 10px #5151516c;
          box-shadow: 8px 0px 10px #5151516c;
  z-index: 100;
}

.nav-container .add-topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.nav-container .add-topic input {
  width: 55%;
}

.nav-container .add-topic button {
  width: 25%;
  height: 100%;
  text-decoration: none;
  background: none;
  border: black 2px solid;
}

.nav-container .add-topic button:before, .nav-container .add-topic button:after {
  background: black;
  border: 3px solid black;
  -o-border-image: linear-gradient(45deg, black 0%, black 100%);
     border-image: linear-gradient(45deg, black 0%, black 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: 0.15em;
  width: 0.31em;
  height: 100%;
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
}

.main-topics {
  width: 80%;
  overflow-x: scroll;
  padding: 0.5% 1%;
}

.topic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

.topic-container form {
  width: 100%;
}

.topic-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: bold;
  background: #515151;
  width: 460px;
  height: 94px;
  margin: 5px;
  padding: 1% 0 1% 1%;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 2px #acacac6c;
          box-shadow: 0px 3px 2px #acacac6c;
}

.topic-container .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 70%;
  font-weight: bold;
}

.topic-container .card .card-content p {
  width: 100%;
  text-align: right;
  font-weight: normal;
  font-style: italic;
}

.topic-container .card .like-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 94px;
}

.topic-container .card .like-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 40%;
  padding: 1% 0;
  font-size: 1rem;
  text-align: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.topic-container .card .like-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  height: 45%;
  width: 100%;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}

.landing-container {
  background: #212121;
  color: white;
  width: 100vw;
  height: 100vh;
}

.landing-container .landing-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 15%;
}

.landing-container .landing-nav .nav-logo {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  color: #ffdd00;
  text-shadow: -4px 4px 0px rgba(255, 0, 68, 0.767), -6px 6px 0px rgba(68, 255, 0, 0.5);
}

.landing-container .landing-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32%;
  height: 100%;
}

.landing-container .landing-nav .nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.landing-container .landing-nav .nav-links li {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing-nav .nav-links .twitch-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #bb00ff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 45px;
  border-radius: 5px;
}
/*# sourceMappingURL=App.css.map */