// @import url("https://fonts.googleapis.com/css?family=Archivo:400,700&display=swap");

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;

  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: #212121;
  overflow: hidden;
  // font-family: "Archivo", sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #ffdd00;
  // position: fixed;
  width: 384px;
  height: 100%;
  padding: 1%;
  background: #bb00ff;
  box-shadow: 8px 0px 10px #5151516c;
  z-index: 100;
  .add-topic {
    display: flex;
    justify-content: space-around;
    width: 100%;
    input {
      width: 55%;
    }
    button {
      width: 25%;
      height: 100%;
      text-decoration: none;
      background: none;
      border: black 2px solid;
      &:before,
      &:after {
        background: black;
        border: 3px solid black;
        border-image: linear-gradient(
          45deg,
          black 0%,
          adjust-hue(black, 10%) 100%
        );
        border-image-slice: 1 1 0 1;
        left: -0.59em;
        top: 0.15em;
        width: 0.31em;
        height: 100%;
        transform: skewY(-45deg);
      }
    }
  }
}

.main-topics {
  width: 80%;
  overflow-x: scroll;
  padding: 0.5% 1%;
}

.topic-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  flex-wrap: wrap;
  color: white;
  // padding: 0.5% 1%;

  form {
    width: 100%;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: bold;
    background: #515151;
    // border: black 2px solid;
    width: 460px;
    height: 94px;
    margin: 5px;
    padding: 1% 0 1% 1%;
    overflow: hidden;
    // border-radius: 5px;
    box-shadow: 0px 3px 2px #acacac6c;
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      width: 70%;
      font-weight: bold;
      p {
        width: 100%;
        text-align: right;
        font-weight: normal;
        font-style: italic;
      }
    }
    .like-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      width: 10%;
      height: 94px;
      // background: #bb00ff;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 40%;
        padding: 1% 0;
        font-size: 1rem;
        text-align: center;

        border-top: 1px black solid;
        border-bottom: 1px black solid;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        height: 45%;
        width: 100%;
        cursor: pointer;
        padding: 0;
        font-size: 1em;
        font-weight: bold;
      }
    }
  }
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: white;
  margin-top: 165px;
  width: 100vw;

  .decription {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    // section {
    //   display: flex;
    //   form{
    //     margin-top: auto;
    //   }
    // }
    .btns {
      display: flex;
      justify-content: center;
      width: 50%;
      height: 50%;
      .twitch {
        background-color: #bb00ff;
        
        color: white;
        img {
          width: 8%;
          margin-right: 5px;
        }
      }
      button {
        border: none;
        margin: auto 5px;
        border-radius: 4px;
        width: 30%;
        height: 35%;
        font-size: 16px;
        background-color: white;
      }
    }
  }
  .example-container {
    display: flex;

    overflow: hidden;
    width: 1080px;
    height: 500px;
    background: white;
    border-radius: 10px;

    .right-example {
      display: flex;
      align-content: center;
      height: 100%;
      width: 82%;

      .ex-topics {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 98%;
        height: 98%;
        margin: auto;
        .ex-topic {
          width: 49%;
          height: 15%;
          background: grey;
          margin: 3px;
        }
      }
    }

    .left-example {
      height: 100%;
      width: 18%;
      background: #bb00ff;
      .avi {
        background: white;
        border-radius: 64px;
        margin: 65px auto 0 auto;
        width: 100px;
        height: 100px;
      }
    }
  }
}

.landing-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 95vw;
  height: 10%;
  // border: black 1px solid;

  .nav-logo {
    font-weight: bold;
    display: flex;
    font-size: 2.6rem;
    color: #ffdd00;

    text-shadow: -4px 4px 0px rgba(255, 0, 68, 0.767),
      -6px 6px 0px rgba(68, 255, 0, 0.5);
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: chartreuse;
    width: 350px;
    height: 100%;
    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    li {
      font-size: 1rem;
      display: flex;
      height: 100%;
      align-items: center;
    }
    .twitch-btn {
      display: flex;
      background: #bb00ff;
      align-items: center;
      justify-content: center;
      width: 190px;
      height: 45px;
      border-radius: 5px;
      padding: 5px;
      img {
        width: 8%;
        margin-right: 5px;
      }
    }
  }
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

.footer {
  height: 100px;
}
